{
  "extends": "airbnb-base",
  "no-underscore-dangle": ["error", { "allow": ["_id"] }], //Permitir guiones bajos
  "no-console": "off", //Permitir console.log
  "linebreak-style": "off", //Normalizar saltos de linea
}
